.row{
    display: flex;
    background-color: white;
    padding: 15px;
}

.col{
    flex: 1;
    background-color: rgb(20, 201, 233);
    margin-right: 15px;
    padding: 15px;
}

.col-2{
    flex: 2;
    background-color: rgb(20, 201, 233);
    margin-right: 15px;
    padding: 15px;
}

.col-3{
    flex: 3;
    background-color: rgb(20, 201, 233);
    margin-right: 15px;
    padding: 15px;
}